<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('details')"></head>

<head><body>
<div th:replace="layout :: nav"></div>
<!--<div th:replace="layout :: searchbar"></div>-->
<div th:replace="layout :: flash"></div>

<div class="gifs container">
    <div class="row">
        <div class="col s12 l4">
            <a href="#">
                <img src="/img/cabinets1.jpg" />
                <a href="#"></a>
            </a>
        </div>
        <div class="col s12 l4">
            <a href="#">
                <img src="../img/cabinets2.jpg" />
                <a href="#"></a>
            </a>
        </div>
        <div class="col s12 l4">
            <a href="#">
                <img src="../img/cabinets3.jpg" />
                <a href="#"></a>
            </a>
        </div>
        <div class="col s12 l4">
            <a href="#">
                <img src="../img/kitchenisland1.jpg" />
                <a href="#"></a>
            </a>
        </div>
        <div class="col s12 l4">
            <a href="#">
                <img src="../img/kitchenisland2.jpg" />
                <a href="#"></a>
            </a>
        </div>
        <div class="col s12 l4">
            <a href="#">
                <img src="../img/pottingstation.jpg" />
                <a href="#"></a>
            </a>
        </div>
        <div class="col s12 l4">
            <a href="#">
                <img src="../img/pottingstation2.jpg" />
                <a href="#"></a>
            </a>
        </div>
    </div>
</div>

</section>
<!-- END CONTENT -->


<div th:replace="layout :: scripts"></div>
</body>
</html>
