<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('home')"></head>

<head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>


<div class="container" style="padding-top: 70px">
    <div class="section">
        <div class="row">
            <div class="col s12 l3">
                <div class="card">
                    <div class="card-content card-category">
                        <div class="card-title">
                            <a class="name" id="custom" href="#">all work</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content card-category">
                        <div class="card-title">
                            <a class="name" href="#">custom pieces</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content card-category">
                        <div class="card-title">
                            <a class="name" href="#">barn doors</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 l6" style="text-align:center">
                <img src="/HH_logo-01.png">
            </div>
            <div class="col s12 l3">
                <div class="card">
                    <div class="card-content card-category">
                        <div class="card-title">
                            <a class="name" href="#">built-ins</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content card-category">
                        <div class="card-title">
                            <a class="name" href="#">about us</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content card-category">
                        <div class="card-title">
                            <a class="name" href="#">contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="section">
        <div class="row">
            <div id="images" style="padding: 20px;">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="../img/cabinets2.jpg"/>
                            <div class="caption center-align">
                                <h5 class="light grey-text text-lighten-3">your ideas come to life</h5>
                            </div>
                        </li>
                        <li>
                            <img src="../img/cabinets3.jpg"/>
                            <div class="caption center-align">
                                <h5 class="light grey-text text-lighten-3">custom made for your home</h5>
                            </div>
                        </li>
                        <li>
                            <img src="../img/kitchenisland1.jpg"/>
                            <
                            <div class="caption center-align">
                                <h5 class="light grey-text text-lighten-3">you think it we build it</h5>
                            </div>
                        </li>
                        <li>
                            <img src="../img/kitchenisland2.jpg"/>
                            <d
                            <div class="caption center-align">
                                <h5 class="light grey-text text-lighten-3">happiness is custom work</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container">-->
    <!--<div class="section">-->
        <!--<div class="row">-->
            <!--<div class="col s12 l4">-->
                <!--<div class="card">-->
                    <!--<div class="card-content card-category">-->
                        <!--<div class="card-title">-->
                            <!--<a class="name" id="custom" href="#">custom pieces</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col s12 l4">-->
                <!--<div class="card">-->
                    <!--<div class="card-content card-category">-->
                        <!--<div class="card-title">-->
                            <!--<a class="name" href="#">built-in shelving</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col s12 l4">-->
                <!--<div class="card">-->
                    <!--<div class="card-content card-category">-->
                        <!--<div class="card-title">-->
                            <!--<a class="name" href="#">barn doors</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<div class="container">-->
    <!--<div class="section">-->
        <!--<div id="about" class="card">-->
            <!--<div class="card-content">-->
                <!--<div class="card-title" style="color:#000080">-->
                    <!--<p>About Us</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col s12 l8">-->
                    <!--<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, corporis culpa distinctio-->
                        <!--dolore error impedit ipsam magni, perspiciatis provident quam reiciendis tenetur velit-->
                        <!--voluptatem!-->
                        <!--Dolore pariatur quae quidem sint vero. Lorem ipsum dolor sit amet, consectetur adipisicing-->
                        <!--elit. Nihil, odio placeat? Architecto consequuntur-->
                        <!--culpa delectus facilis incidunt ipsa laboriosam minima nam natus nemo officia officiis-->
                        <!--perferendis recusandae, repellendus, vel, voluptate! Lorem ipsum dolor sit amet, consectetur-->
                        <!--adipisicing elit. Cupiditate dolor eos expedita, fuga incidunt iusto quia repellat?-->
                        <!--Alias beatae consectetur est illo iure magnam, maiores nesciunt non pariatur, possimus-->
                        <!--sint.</p>-->
                <!--</div>-->
                <!--<div class="col s12 l4">-->
                    <!--<img src="http://placehold.it/200x400"/>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;start container&ndash;&gt;-->
<!--<div class="container">-->
    <!--<div class="section">-->

        <!--<p class="caption">Contact Us!</p>-->

        <!--<div class="divider"></div>-->

        <!--<div id="contact" class="card">-->
            <!--<div class="card-content">-->
                <!--<div class="row">-->
                    <!--<div class="col s12 l8">-->
                        <!--<form class="contact-form">-->
                            <!--<div class="row">-->
                                <!--<div class="input-field col s12">-->
                                    <!--<input id="name" type="text">-->
                                    <!--<label for="name">Name</label>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="input-field col s12">-->
                                    <!--<input id="email" type="email">-->
                                    <!--<label for="email">Email</label>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="input-field col s12">-->
                                    <!--<textarea id="message" class="materialize-textarea"></textarea>-->
                                    <!--<label for="message">Message</label>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="input-field col s12">-->
                                        <!--<button class="btn indigo darken-4 waves-effect waves-light right" type="submit"-->
                                                <!--name="action">Send-->
                                            <!--<i class="mdi-content-send right"></i>-->
                                        <!--</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                    <!--<div class="col s12 m4">-->
                        <!--<ul class="collapsible collapsible-accordion" data-collapsible="accordion">-->
                            <!--<li class="active">-->
                                <!--<div class="collapsible-header active"><i class="mdi-communication-email"></i> Need-->
                                    <!--Help?-->
                                <!--</div>-->
                                <!--<div class="collapsible-body" style="display: none;">-->
                                    <!--<p>Do you have a project in mind? We'd love to hear about it! Contact us at <a-->
                                            <!--th:href="'mailto:' + 'contact@handcrafted.house'">contact@handcrafted.house</a>.-->
                                        <!--Let's build something!</p>-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--end container-->

<div th:replace="layout :: scripts"></div>

</body>
</html>


<div th:replace="layout :: scripts"></div>
<script type="text/javascript" src="/vendor/slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.slider').slider({full_width: true, height: 500});
    });
</script>

</body>
</html>
